In [1]:
import pickle

In [2]:
df = pickle.load(open('data2.pkl','rb'))

In [3]:
df

,match_id,batting_team,ball,batsman,bowler,runs,player_dismissed,city,bowling_team
0,2,Pune Warriors,0.1,RV Uthappa,IK Pathan,0,0,Pune,Delhi Daredevils
1,2,Pune Warriors,0.2,RV Uthappa,IK Pathan,2,0,Pune,Delhi Daredevils
2,2,Pune Warriors,0.3,RV Uthappa,IK Pathan,4,0,Pune,Delhi Daredevils
3,2,Pune Warriors,0.4,RV Uthappa,IK Pathan,0,0,Pune,Delhi Daredevils
4,2,Pune Warriors,0.5,RV Uthappa,IK Pathan,1,0,Pune,Delhi Daredevils
...,...,...,...,...,...,...,...,...,...
100186,817,Mumbai Indians,19.4,RG Sharma,CJ Anderson,6,0,Mumbai,Royal Challengers Bangalore
100187,817,Mumbai Indians,19.5,RG Sharma,CJ Anderson,4,0,Mumbai,Royal Challengers Bangalore
100188,817,Mumbai Indians,19.6,RG Sharma,CJ Anderson,0,RG Sharma,Mumbai,Royal Challengers Bangalore
100189,817,Mumbai Indians,19.7,MJ McClenaghan,CJ Anderson,2,0,Mumbai,Royal Challengers Bangalore
100190,817,Mumbai Indians,19.8,HH Pandya,CJ Anderson,4,0,Mumbai,Royal Challengers Bangalore

In [4]:
df['batting_team']=df['batting_team'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
df['batting_team']=df['batting_team'].str.replace('Rising Pune Supergiants','Pune Warriors')
df['batting_team']=df['batting_team'].str.replace('Rising Pune Supergiant','Pune Warriors')
df['batting_team']=df['batting_team'].str.replace('Delhi Daredevils','Delhi Capitals')
df['batting_team']=df['batting_team'].str.replace('Rising Pune Supergiants','Pune Warriors')
df['batting_team']=df['batting_team'].str.replace('Rising Pune Supergiants','Pune Warriors')

In [5]:
df['bowling_team']=df['bowling_team'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
df['bowling_team']=df['bowling_team'].str.replace('Rising Pune Supergiants','Pune Warriors')
df['bowling_team']=df['bowling_team'].str.replace('Rising Pune Supergiant','Pune Warriors')
df['bowling_team']=df['bowling_team'].str.replace('Delhi Daredevils','Delhi Capitals')
df['bowling_team']=df['bowling_team'].str.replace('Rising Pune Supergiants','Pune Warriors')
df['bowling_team']=df['bowling_team'].str.replace('Rising Pune Supergiants','Pune Warriors')

In [6]:
df=df[df['batting_team']!='Kochi Tuskers Kerala']

In [72]:
df['city'].value_counts().index.tolist()

['Mumbai',
 'Kolkata',
 'Delhi',
 'Hyderabad',
 'Bangalore',
 'Chennai',
 'Chandigarh',
 'Jaipur',
 'Pune',
 'Dubai',
 'Abu Dhabi',
 'Sharjah',
 'Durban',
 'Bengaluru',
 'Visakhapatnam',
 'Centurion',
 'Ahmedabad',
 'Rajkot',
 'Dharamsala',
 'Johannesburg',
 'Indore',
 'Port Elizabeth',
 'Cuttack',
 'Ranchi',
 'Cape Town']

In [73]:
df['over_no']=df['ball'].astype('str').apply(lambda x: x.split('.')[0])
df['ball_no']=df['ball'].astype('str').apply(lambda x: x.split('.')[1])

In [74]:
city_list=df['city'].value_counts()[df['city'].value_counts()>800].index.tolist()

In [75]:
df=df[df['city'].isin(city_list)]

In [76]:
df

,match_id,batting_team,ball,batsman,bowler,runs,player_dismissed,city,bowling_team,over_no,ball_no,total_ball,balls_left,curr_score,wickets_gone,wickets_left,crr,last_five_runs
0,2,Pune Warriors,0.1,RV Uthappa,IK Pathan,0,0,Pune,Delhi Capitals,0,1,1,119,0,0,10,0.000000,NaN
1,2,Pune Warriors,0.2,RV Uthappa,IK Pathan,2,0,Pune,Delhi Capitals,0,2,2,118,2,0,10,6.000000,NaN
2,2,Pune Warriors,0.3,RV Uthappa,IK Pathan,4,0,Pune,Delhi Capitals,0,3,3,117,6,0,10,12.000000,NaN
3,2,Pune Warriors,0.4,RV Uthappa,IK Pathan,0,0,Pune,Delhi Capitals,0,4,4,116,6,0,10,9.000000,NaN
4,2,Pune Warriors,0.5,RV Uthappa,IK Pathan,1,0,Pune,Delhi Capitals,0,5,5,115,7,0,10,8.400000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100186,817,Mumbai Indians,19.4,RG Sharma,CJ Anderson,6,0,Mumbai,Royal Challengers Bangalore,19,4,118,2,203,5,5,10.322034,60.0
100187,817,Mumbai Indians,19.5,RG Sharma,CJ Anderson,4,0,Mumbai,Royal Challengers Bangalore,19,5,119,1,207,5,5,10.436975,60.0
100188,817,Mumbai Indians,19.6,RG Sharma,CJ Anderson,0,1,Mumbai,Royal Challengers Bangalore,19,6,120,0,207,6,4,10.350000,60.0
100189,817,Mumbai Indians,19.7,MJ McClenaghan,CJ Anderson,2,0,Mumbai,Royal Challengers Bangalore,19,7,121,0,209,6,4,10.363636,61.0
100190,817,Mumbai Indians,19.8,HH Pandya,CJ Anderson,4,0,Mumbai,Royal Challengers Bangalore,19,8,122,0,213,6,4,10.475410,61.0

In [77]:
df['total_ball']=df['over_no'].astype('int32')*6+df['ball_no'].astype('int32')

In [78]:
df['balls_left'] = 120-df['total_ball']

In [79]:
df['balls_left'] = df['balls_left'].apply(lambda x: x if x>0 else 0)

In [80]:
df['curr_score']=df.groupby('match_id')['runs'].cumsum()

In [81]:
df['player_dismissed']=df['player_dismissed'].apply(lambda x: 0 if x==0 else 1)

In [82]:
df['wickets_gone'] = df.groupby('match_id')['player_dismissed'].cumsum()

In [83]:
df['wickets_left'] = 10-df['wickets_gone']

In [84]:
df['ball_no']=df['ball_no'].astype('int32')

In [85]:
df['crr'] = (df['curr_score']*6)/df['total_ball']

In [86]:
groups = df.groupby('match_id')

match_ids = df['match_id'].unique()
last_five=[]
for i in match_ids:
    last_five.extend(groups.get_group(i).rolling(window=30)['runs'].sum().values.tolist())

In [87]:
df['last_five_runs'] = last_five

In [88]:
final_df = df.groupby('match_id')['runs'].sum().reset_index().merge(df,on='match_id')

In [89]:
final_df=final_df[['batting_team','bowling_team','city','curr_score','balls_left','wickets_left','crr','last_five_runs','runs_x']]

In [90]:
final_df = final_df.sample(final_df.shape[0])

In [91]:
final_df.dropna(inplace=True)

In [92]:
pickle.dump(final_df,open('final_data.pkl','wb'))